<div class="jumbotron shadow">
	<h2 class="forum-divider-bottom text-center">Editing User: <%=@user.username%></h2>
	<form method="post" action="/forum_users" class="center-block text-center quarter-width">
		<input type="hidden" name="_method" value="patch">
		<div class="form-group">
			<label for="username"><%=administrator? ? 'Username:' : '' %></label>
			<input class="form-control forum-input" id="username" name="forum_user[username]" type="<%= administrator? ? 'text' : 'hidden' %>" value="<%=@user.username%>">
		</div>
		<div class="form-group">
			<label for="email">Email:</label>
			<input class="form-control forum-input" id="email" name="forum_user[email]" type="text" value="<%=@user.email%>">
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input class="form-control forum-input" id="password" name="forum_user[password]" type="password">
		</div>
		<input type="hidden" name="forum_user[id]" value=<%=@user.id%>>
		<input type="hidden" name="cached_route" value="<%=current_route%>">
		<button type="submit" id="edit_user" class="btn btn-primary btn-forum shadow">
			<i class="fa fa-pencil-square-o"></i> Edit
		</button>
	</form>
	<% error_messages = ""
	if @user.errors.any?
		@user.errors.full_messages.each do |error|
			error_messages += error + "<br>" if !error.include?("Password digest")
		end %>
		<blockquote class='quote center-block half-width top-margin-10px'>
			<p><%=error_messages%></p>
			<footer><cite class="citation">The Basileus</cite></footer>
		</blockquote>
	<% end %>
</div>