<div class="jumbotron text-center shadow">
	<% if moderator? && !@user.administrator && !@user.moderator %>
		<% if !@user.banned %>
			<form class="center-block quarter-width" method="post" action="/forum_users">
				<input type="hidden" name="_method" value="patch">
				<input type="hidden" name="forum_user[banned]" value="1">
				<input type="hidden" name="forum_user[id]" value=<%=@user.id%>>
				<button type="submit" id="ban" class="btn btn-primary btn-forum shadow">
				<i class="fa fa-ban"></i> Ban
				</button>
			</form>
		<% else %>
			<form class="center-block quarter-width" method="post" action="/forum_users">
				<input type="hidden" name="_method" value="patch">
				<input type="hidden" name="forum_user[banned]" value="0">
				<input type="hidden" name="forum_user[id]" value=<%=@user.id%>>
				<button type="submit" id="unban" class="btn btn-primary btn-forum shadow">
				<i class="fa fa-check-circle"></i> Unban
				</button>
			</form>
		<% end %>
	<% end %>
	<h1><%=@user.username%></h1>
	<h2><em><%=@user.email%></em></h2>
	<% if administrator? || @user == current_user %>
		<a href="/forum_users/<%=@user.slug%>/edit">
			<button type="submit" id="edit" class="btn btn-primary btn-forum quarter-width top-margin-20px shadow">
			<i class="fa fa-pencil-square-o"></i> Edit
			</button>
		</a>
	<% end %>
</div>

<div class="jumbotron shadow">
	<h2 class="text-center">Posts</h2>
	<% @user_posts.each do |post| %>
		<div class="forum-divider-top clearfix <%="forum-divider-bottom" if post == @user_posts.last%>">
			<div class="row">
				<div class="col-xs-4">
					<br>
					<h4>Updated:</h4>
					<h5><%=format_time(post.updated_at)%></h5>
					<h4>Created:</h4>
					<h5><%=format_time(post.created_at)%></h5>
					<br>
				</div>
				<div class="col-xs-8">
					<br>
					<a href="/forum_threads/<%=post.forum_thread.slug%>#<%=post.id%>"><h3 class="text-center"><%=post.forum_thread.title%></h3></a>
					<p><%=post.content%></p>
					<br>
				</div>
			</div>
		</div>
	<% end %>
</div>