<div class="jumbotron text-center shadow">
	<h1>Posting to Thread:</h1>
	<h2 class="forum-divider-bottom"><%=@thread.title%></h2>
	<form method="post" action="/forum_posts" class="center-block half-width">
		<div class="form-group">
			<label for="content">Content:</label>
			<textarea rows="20" class="form-control forum-textarea" id="content" name="forum_post[content]" type="text"><%=params[:cached_post] if params[:cached_post]%></textarea>
		</div>
		<input type="hidden" name="forum_post[forum_user_id]" value=<%=current_user.id%>>
		<input type="hidden" name="forum_post[forum_thread_id]" value=<%=@thread.id%>>
		<input type="hidden" name="cached_route" value="<%=current_route%>">
		<button type="submit" id="create_post" class="btn btn-primary btn-forum shadow">
			<i class="fa fa-paper-plane"></i> Create Post
		</button>
	</form>
</div>