<div class="jumbotron shadow">
	<h2 class="forum-divider-bottom">Editing Post #<%=@post.id%></h2>
	<h4>Thread: <%=@post.forum_thread.title%></h4>
	<h4>Author: <%=@post.forum_user.username%></h4>
	<form method="post" action="/forum_posts" class="center-block text-center half-width top-margin-20px">
		<input type="hidden" name="_method" value="patch">
		<div class="form-group">
			<label for="content">Content:</label>
			<textarea rows="20" class="form-control forum-textarea" id="content" name="forum_post[content]" type="text"><%=@post.content%></textarea>
		</div>
		<input type="hidden" name="forum_post[id]" value="<%=@post.id%>">
		<input type="hidden" name="cached_route" value="<%=current_route%>">
		<button type="submit" id="edit_post" class="btn btn-primary btn-forum shadow">
			<i class="fa fa-pencil-square-o"></i> Edit Post
		</button>
	</form>
	<% error_messages = ""
	if @post.errors.any?
		@post.errors.full_messages.each do |error|
			error_messages += error + "&#13;&#10;"
		end %>
		<blockquote class='quote center-block half-width top-margin-10px'>
			<p><%=error_messages%></p>
			<footer><cite class="citation">The Basileus</cite></footer>
		</blockquote>
	<% end %>
</div>