
<div class="jumbotron shadow">
	<h1 class="text-center"><%=new_forum_thread_forum_post_page_title%></h1>
	<h2 class="forum-divider-bottom text-center"><%=new_forum_thread_forum_post_page_tagline%></h2>
	<form method="post" action="/forum_posts" class="center-block text-center half-width">
		<div class="form-group">
			<label for="content">Content:</label>
			<textarea rows="20" class="form-control forum-textarea" id="content" name="forum_post[content]" type="text"><%=params[:cached_post] if params[:cached_post]%></textarea>
		</div>
		<input type="hidden" name="forum_post[forum_user_id]" value=<%=current_user.id%>>
		<input type="hidden" name="forum_post[forum_thread_id]" value=<%=@thread.id%>>
		<input type="hidden" name="cached_route" value="<%=current_route%>">
		<button type="submit" id="create_post" class="btn btn-primary btn-forum shadow">
			<i class="fa fa-paper-plane"></i> Create Post
		</button>
	</form>
	<% error_messages = ""
	if @post.errors.any?
		@post.errors.full_messages.each do |error|
			error_messages += error + "<br>"
		end %>
		<blockquote class='quote center-block half-width top-margin-10px'>
			<p><%=error_messages%></p>
			<footer><cite class="citation">The Basileus</cite></footer>
		</blockquote>
	<% end %>
</div>