<div class="jumbotron text-center shadow">
	<h2 class="forum-divider-bottom">Editing Thread: <%=@thread.title%></h2>
	<form method="post" action="/forum_threads" class="center-block quarter-width">
		<input type="hidden" name="_method" value="patch">
		<div class="form-group">
			<label for="title">Title:</label>
			<input class="form-control forum-input" id="title" name="forum_thread[title]" type="text" value="<%=@thread.title%>">
		</div>
		<input type="hidden" name="forum_thread[id]" value=<%=@thread.id%>>
		<input type="hidden" name="cached_route" value="<%=current_route%>">
		<button type="submit" id="edit" class="btn btn-primary btn-forum shadow">
			<i class="fa fa-pencil-square-o"></i> Edit
		</button>
	</form>
		<% error_messages = ""
		if @thread.errors.any?
			@thread.errors.full_messages.each do |error|
				error_messages += error + "&#13;&#10;"
			end %>
			<blockquote class='quote center-block half-width top-margin-10px'>
				<p><%=error_messages%></p>
				<footer><cite class="citation">The Basileus</cite></footer>
			</blockquote>
		<% end %>
</div>