<a href="/forum_threads/new">
	<div class="jumbotron text-center shadow">
		<h1>Threads</h1>
		<h2><em>Spread rumors about your friends and enemies!</em></h2>
	</div>
</a>
<div class="jumbotron shadow">
	<% @threads.each do |thread| %>
		<div class="forum-divider-top <%="forum-divider-bottom" if thread == @threads.last%>">
			<div class="row">
				<div class="col-xs-4">
					<br>
					<h4>Updated:</h4>
					<h5><%=format_time(thread.updated_at)%></h5>
					<h4>Created:</h4>
					<h5><%=format_time(thread.created_at)%></h5>
					<br>
				</div>
				<div class="col-xs-8">
					<br>
					<a href="/forum_threads/<%=thread.slug%>"><h3 class="text-center"><%=thread.title%></h3></a>
					<br>
				</div>
			</div>
			<% if moderator? %>
				<a href="/forum_threads/<%=thread.slug%>/edit">
					<button type="submit" id="edit" class="btn btn-primary btn-forum float-right quarter-width shadow">
						<i class="fa fa-pencil-square-o"></i> Edit
		 			</button>
	 			</a>
				<form method="post" action="/forum_threads" class="quarter-width">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="form_thread[id]" value=<%=thread.id%>>
					<button type="submit" id="login" class="btn btn-primary btn-forum shadow">
						<i class="fa fa-bomb"></i> Delete
		 			</button>
		 		</form>
			<% end %>
		</div>
	<% end %>
</div>
<a href="/forum_threads/new">
	<div class="jumbotron shadow">
		<h2 class="text-center">Create Thread</h2>
	</div>
</a>