<a href="/forum_posts/new/<%=@thread.slug%>">
	<div class="jumbotron shadow">
		<h2 class="text-center">Post to Thread</h2>
	</div>
</a>
<div class="jumbotron shadow">
	<% @thread_posts.each do |post| %>
		<div class="forum-divider-top <%="forum-divider-bottom" if post == @thread_posts.last%>">
			<div class="row">
				<div class="col-xs-4">
					<a href="/forum_users/<%=post.forum_user.slug%>">
						<h3><%=post.forum_user.username%></h3>
					</a>
					<h4>Updated:</h4>
					<h5><%=format_time(post.updated_at)%></h5>
					<h4>Created:</h4>
					<h5><%=format_time(post.created_at)%></h5>
				</div>
				<div class="col-xs-8">
					<br>
					<p><%=post.content%></p>
					<br>
				</div>
			</div>
			<% if moderator? || post.forum_user == current_user %>
				 <a href="/posts/<%=post.id%>/edit">
				<button type="submit" id="edit" class="btn btn-primary btn-forum float-right quarter-width shadow">
					<i class="fa fa-pencil-square-o"></i> Edit
	 			</button>
				<form method="post" action="/posts" class="quarter-width">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="post[id]" value=<%=post.id%>>
					<button type="submit" id="delete" class="btn btn-primary btn-forum shadow">
						<i class="fa fa-bomb"></i> Delete
		 			</button>
		 		</form>
			<% end %>
		</div>
	<% end %>
</div>
<a href="/forum_posts/new/<%=@thread.slug%>">
	<div class="jumbotron shadow">
		<h2 class="text-center">Post to Thread</h2>
	</div>
</a>